body {
    font-family: 'Kanit', sans-serif;
    background-color: beige;
    margin: 0;
    padding: 20px;
    color: white;
    transition: background-color 0.5s, color 0.5s;
}

header {
    background-color: #FFCC00;
    padding: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
   
}


main {
    padding:30px;
    max-width: auto;
    margin: 30px auto;
    background-color: #ea36a8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    
}



footer {
    background-color: #333;
    color: rgb(248, 232, 242);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
    
h1{
    font-size: 300px;
    font-weight: bolder;
    color: #ea36a8;
    letter-spacing: 0px;
    top:500px;
    margin-right: 180px;
    padding: 50px;
  
}

h1:hover{
    color: #66dfdb;
}
#romanab {
    top:200px;
    position: absolute;
}
#italicabc {
    top:200px;
    position: absolute;
}
.dsTrial{
    padding: 1em;
    text-align: center;
}
.dsTrial:hover{
    filter: drop-shadow(#66dfdb 5px 5px)
}
    input, select {
            padding: 10px;
            font-size: 16px;
            margin-top: 10px;
            display: block;
            animation: fadeIn 2s;
        }
        .label {
            margin-top: 10px;
            display: block;
            animation: fadeIn 2s;
        }
        .slider {
            width: 100%;
        }
        .toggle-switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }
        .toggle-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider-round {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #66dfdb;
            transition: .4s;
            border-radius: 34px;
        }
        .slider-round:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
        input:checked + .slider-round {
            background-color: #2196F3;
        }
        input:checked + .slider-round:before {
            transform: translateX(26px);
        }
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

/* Font card serif  */
.font-card h1{
    font-size: 200px;
    font-weight:lighter;
    text-align: center;
    color:#FFCC00
        
}
.font-card p{
    font-size: 80px;
    color:#ea36a8;
    text-align: center;
}
.creator {
    font-size:70px;
    font-weight: regular;
    text-align: center;
    color:#FFCC00;

    
}
h5:hover{
    color: #333;
    font-family:"kanit",sans-serif;
    font-optical-sizing: auto;
    font-weight:italic;
    font-size: 70px;

}

nav{
    font-size: 50px;
}
main{
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
   
}

p3{
    text-align: justify;
    font-size: 45px;
    color: #333;
    font-weight: lighter;
}
p3{
    background-color: #FFCC00;
    max-width: auto;
    margin: 30px auto;
    padding: auto;
    text-align: center;
   
}

p4{
    text-align: center;
    font-size: 60px;
    color: #66dfdb;
    font-style:bold;

}
/* Scale and color change on hoverf*/

font-card:hover{
    transform: scale(1.3); /*Enlarge the text*/
    color: #ea36a8; /*Changes text color to #ea36a8*/
}

p2{ 
    font-size: 50px;
    font-weight: bold;
    color:#ea36a8;
}

p9{
    font-size: 20px;
    color: #FFCC00;
    font-weight: lighter;
}
P9 {
    padding:10px;
    max-width: auto;
    margin: 30px auto;
    background-color: #ea36a8;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 25px;
    
}
